language: cpp
sudo: required
dist: trusty
compiler:
   - gcc
cache:
  directories:
    - SFML-2.4.2
before_install:
   - sudo apt-get update -y
   - sudo apt-get install -y freeglut3-dev libjpeg-dev  libfreetype6-dev libxrandr-dev libglew-dev libsndfile1-dev libopenal-dev libudev-dev scons
   - wget http://www.sfml-dev.org/files/SFML-2.4.2-sources.zip
   - unzip -n SFML-2.4.2-sources.zip
   - cd SFML-2.4.2
   - cmake .
   - make
   - sudo make install
   - cd ..
script:
   - scons
   - scons test
notifications:
   email: false
